"*":
  core:
    allowPendingPaneItems: false
    closeEmptyWindows: false
    openEmptyEditorOnStart: false
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Fira Code, monospace"
    scrollPastEnd: true
    softWrapAtPreferredLineLength: true
  "file-types":
    "*.cmm": "source.c"
    "*.dump-ds": "source.haskell"
    "*.dump-simpl": "source.haskell"
    "*.dump-spec": "source.haskell"
    "bytearray-ops.txt*": "source.haskell"
    "cabal.project*": "source.cabal"
    "primops.txt*": "source.haskell"
  "vim-mode-plus":
    groupChangesWhenLeavingInsertMode: false
    useClipboardAsDefaultRegister: false
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
